<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://192.168.3.38/rh</property> <!-- 192.168.3.38 !-->
        <property name="connection.username">root</property>
        <property name="connection.password">040908</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="generate_statistics">true</property>
        <property name="use_sql_coments">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="br.os.rh.curso.Curso"/>
        <mapping class="br.os.rh.disciplina.Disciplina"/>
        <mapping class="br.os.rh.periodo.Periodo"/> 
        <mapping class="br.os.rh.cidade.Cidade"/>
        <mapping class="br.os.rh.estado.Estado"/>
        <mapping class="br.os.rh.titulacao.Titulacao"/>
        <mapping class="br.os.rh.usuario.Usuario"/>
        <mapping class="br.os.rh.semestre.Semestre"/>
        <mapping class="br.os.rh.salario.Salario"/>
        <mapping class="br.os.rh.funcionario.Funcionario"/>
        <mapping class="br.os.rh.lotacaodiscplinas.LotacaoDisciplina"/>
        <mapping class="br.os.rh.turno.Turno"/>
        <mapping class="br.os.rh.horario.Horario"/>
        <mapping class="br.os.rh.lotacaodisciplinahorario.LotacaoDisciplinaHorario"/>
        <mapping class="br.os.rh.lotacao.Lotacao"/>
        <mapping class="br.os.rh.pontoprofessores.PontoProfessores"/>
        <mapping class="br.edu.feriado.Feriado"/>                  
        <mapping class="br.edu.evento.Evento"/>
        <mapping class="br.edu.eventoitem.EventoItem"/>                  
        <mapping class="br.edu.eventoponto.EventoPonto"/>
        
    </session-factory>
</hibernate-configuration>

